.container {
    padding: 5px;
    opacity: 0.8;
}

body {
    /* background-color: gray; */
    background-color: gray;
    background-size: 100% 100%;
    height: 100vh;
  }

.video1 {
    margin-left: 300px;
}  