.content {
  background-color: darkgrey;
  display: 'flex';
  justify-content: center;
  flex-direction: column;
}

.cards {
  height: 100vh;
  gap: 2rem;
}

.cardImg {
  margin: 10px;
  border-radius: 2%;
  border: 2px solid lightgrey;
}