/* homepage styles */
.bioVideo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bioCard {
  max-width: 18em;
  max-height: 100%;
  border: solid black;
  margin: 10px;
  border-radius: 13px;
  display: flex;
  flex-direction: column;

  
}

.bioCard h1{
  text-align: center;
  color: white;
  background-color: rgb(33, 37, 41);
  padding: 5px;
  margin-bottom: 0;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}

.bioCard img {
  width: 100%;
  
}

.bioCardText {
  text-wrap: wrap;
  background-color: white;
  height: auto;
  flex-grow: 1;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}

.homeCards {
  display: flex;
  justify-content: center;
  gap: 200px;
}

.hobbies {
  border: solid black;
  border-radius: 10px;
  background-color: white;
}

.experience {
  border: solid black;
  border-radius: 10px / 10px;
  background-color: white;
}

.experience h1 {
  background-color: rgb(33, 37, 41);
  color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: solid black;
  text-align: center;
}
.hobbies h1 {
  background-color: rgb(33, 37, 41);
  color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: solid black;
  text-align: center;
}

.list {
  padding-right: 10px;
}

/* project page styles */
.projectsContent {
  display: 'flex';
  justify-content: center;
  flex-direction: column;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.cardImg {
  margin: 10px;
  border-radius: 2%;
  border: 2px solid lightgrey;
}